//-header
header.header
    .wrapper
        .header-inner
            a.page__link.header__logo(href="#")
                img.header__img(src="assets/images/png/logo.png", alt="logo")
                .logo__name ФИНСГРАМ
            .menu__nav 
                button.menu__btn.page__btn(src="#") о чемпионате
                button.menu__btn.page__btn(src="#") новости
                button.menu__btn.page__btn(src="#") контакты
            button.signup__btn.menu__btn(src="#") Регистрация

section.banner
    .wrapper 
        .banner-inner
            .banner-text
                h2.banner-title Летний чемпионат<br> по финансовым играм
                .description
                    .description-info
                        .info__item май-август 2023 г.
                        .info__item г. Хабаровск
                        .info__item.whom для школьников 8-18 лет
                    .description-offer Прокачай свои знания по финансовой грамотности
            img.banner-star(src="assets/icons/png/star.png", alt="star")
            img.banner-cup(src="assets/images/png/cup.png", alt="cup")

section.about
    .wrapper.wrapper-after.img-before
        .about-inner.img-before
            .about-top
                .section-description о чемпионате
            .about-title Что такое чемпионат<br>по финансовым играм?
            .images-block
                img.images__item(src="assets/images/png/about-images1.png", alt="img")
                img.images__item.img__displaced(src="assets/images/png/about-images2.png", alt="img")
                img.images__item.img__displaced(src="assets/images/png/about-images3.png", alt="img")
                img.images__item.img__displaced(src="assets/images/png/about-images4.png", alt="img")
            
            .about-description__item Летний чемпионат по финансовым играм - это уникальная возможность повысить свои знания и навыки по финансовой грамотности. Чемпионат проводится в формате увлекательных настольных игр. 
            .about-description__item Для участия в чемпионате не требуется специальных навыков и знаний. Изучать и закреплять знания по финансовой грамотности участники будут прямо во время турнира. 

section.why
    .wrapper
        .why-inner
            .section-description для чего
            h1.why-title Зачем участвовать<br>в чемпионате?
            .why-description-items.line__up
                .why-description-item
                    .item__subtitle Получить прикладные знания
                    img.item__icon(src="assets/icons/png/lamp.png", alt="lamp")
                    p.item__text На чемпионате есть возможность познакомиться с базовыми понятиями и принципами финансовой грамотности, прокачать гибкие навыки и предпринимательское мышление. А благодаря игровому формату новые знания усвоятся значительно лучше!
                .why-description-item
                    .item__subtitle Проверить себя
                    img.item__icon(src="assets/icons/png/check.png", alt="check")
                    p.item__text Результаты личного и командного зачетов продемонстрируют, насколько хорошо ты разбираешься в теме финансов и умеешь управлять своими ресурсами.
                .why-description-item
                    .item__subtitle Восполнить пробелы и потрениро­вать навыки
                    img.item__icon(src="assets/icons/png/learn.png", alt="learn")
                    p.item__text Если умений и опыта не хватает, во время турнира ты сможешь потренироваться, закрепить новую информацию и систематизировать свои знания.
                .why-description-item
                    .item__subtitle Получить призы и подарки
                    img.item__icon(src="assets/icons/png/win.png", alt="win")
                    p.item__text Все участники получат сертификаты, а финалистов и призеров ждут памятные подарки. 
            button.yellow-btn(src="#") Подать заявку на участие


section.who
    .wrapper
        .who-inner.line__up
            .section-description для кого
            h1.who-title Кто может<br>принять участие? 
            img.who-title__icon(src="assets/icons/png/star.png", alt="star")
            .who-photos
                .images-block
                    img.images__item(src="assets/images/png/foto4.png", alt="img")
                    img.images__item.img__displaced(src="assets/images/png/foto3.png", alt="img")
                    img.images__item.img__displaced(src="assets/images/png/foto2.png", alt="img")
                    img.images__item.img__displaced(src="assets/images/png/foto.png", alt="img")
                .who-description Школьники 8-18 лет из Хабаровска и Хабаровского края 
            .who-text 
                .who-text__up Для участия в чемпионате достаточно заполнить форму на сайте.<br>В этом тебе могут помочь твои родители.
                .who-text__down После оформления заявки с тобой свяжутся организаторы и расскажут о дальнейших действиях. 
            .who-questions
                .questions__item.questions__left Ты школьник?
                .questions__item.questions__center Хочешь быть финансово грамотным?
                .questions__item.questions__right Регистрируйся на чемпионат!
            button.yellow-btn(src="#") Принять участие
               

section.news
    .wrapper
        .section-description новости
        h1.news-title Новости чемпионата
        .news-inner.line__up
            .news-subtitle Как проходил летний чемпионат по финансовой грамотности в 2022 г. <span>в Хабаровске</span>
            .news-images
                img.news-img(src="assets/images/png/news-photo.png", alt="photo")
                img.news-img(src="assets/images/png/news-photo2.png", alt="photo")
                img.news-img(src="assets/images/png/news-photo3.png", alt="photo")


section.organizer
    .wrapper
        .section-description организатор
        h1.organizer-title Организатор чемпионата
        .organizer-inner.line__up
            .organizer-map
                .organizer-city Хабаровский край
                img.organizer-map__img(src="assets/images/png/map.png", alt="photo")
                
            .organizer-subtitle <span>Финсграм</span>- это некоммерческая организация, занимающаяся развитием навыков у детей, которые необходимы для успешной жизни и карьеры в будущем.<br><br>Мы обучаем детей и подростков 8-18 лет финансовой грамотности, soft skills, помогаем развивать эмоциональный интеллект и предпринимательское мышление.
            .count-block
                .count__item
                    .count-number 700+
                    img.count-img(src="assets/icons/png/star.png", alt="star")
                    .count-description учеников за 2022 год
                .count__item
                    .count-number 30+
                    img.count-img(src="assets/icons/png/star.png", alt="star")
                    .count-description школ-участников
                .count__item
                    .count-number 5
                    img.count-img(src="assets/icons/png/star.png", alt="star")
                    .count-description площадок


section.partners
    .wrapper
        .partners-inner
            .section-description поддержка
            img.partners-title__img(src="assets/icons/png/star.png", alt="star")
            .partners-title партнёры
            .partners-title и спонсоры
            .logos-block 
                .logos-block__item
                    img.logo__img(src="assets/images/png/logo1.png", alt="logo")
                .logos-block__item
                    img.logo__img(src="assets/images/png/logo2.png", alt="logo")
                .logos-block__item
                    img.logo__img(src="assets/images/png/logo3.png", alt="logo")
                .logos-block__item
                    img.logo__img(src="assets/images/png/logo4.png", alt="logo")
                .logos-block__item
                    img.logo__img(src="assets/images/png/logo5.png", alt="logo")
                .logos-block__item
                    img.logo__img(src="assets/images/png/logo1.png", alt="logo")
                .logos-block__item
                    img.logo__img(src="assets/images/png/logo2.png", alt="logo")
                .logos-block__item
                    img.logo__img(src="assets/images/png/logo3.png", alt="logo")
            .partners-feedback
                .feedback-text Хотите стать партнером или спонсором Чемпионата?<br>Напишите свой запрос на адрес 
                    a.feedback__link.page__link(href="email:club@finsgram.ru") club@finsgram.ru
                img.feedback-img(src="assets/icons/png/message-icon.png", alt="message")

section.registration
    .wrapper
        .registration-inner
            .section-description заявка
            .registration-form
                .form-title Регистрация на чемпионат:
                input.form-input(type="text" placeholder="Имя")
                input.form-input(type="text" placeholder="Фамилия")
                input.form-input(type="text" placeholder="Адрес")
                input.form-input(type="text" placeholder="Наименование учебного заведения")
                input.form-input(type="text" placeholder="Контактный телефон")
                input.form-input(type="text" placeholder="E-mail")
                button.form-btn(src="#") РЕГИСТРАЦИЯ
                .registration-agreement
                    input.form-checkbox(type="checkbox")
                    .registration-agreement__item
                        |Согласен с 
                        a.agreement__link.page__link(href="#") условиями использования 
                        | формы заявки и 
                        a.agreement__link.page__link(href="#") политикой конфиденциальности 
                        | лица, разместившего форму заявки 


section.contacts
    .wrapper
        .contacts-inner
            .contacts-links
                a.page__link(href="#")
                    img.logo-mini(src="assets/icons/png/logo-mini.png", alt="logo")
                .contacts-address Хабаровский край, г. Хабаровск
                a.contacts-tel.page__link(href="tel:8(922)777-40-14") 8 (922) 777-40-14
                a.contacts-email.contacts-address.page__link(href="email:club@finsgram.ru") club@finsgram.ru
                a.contacts-vk.page__link(href="https://vk.com")
                    img.vk-logo(src="assets/icons/png/vk.png", alt="vk")
            .contacts-images
                img.star-left(src="assets/icons/png/star.png", alt="star")
                img.cup(src="assets/icons/png/cup2.png", alt="cup")
                img.star-wait(src="assets/icons/png/star2.png", alt="star")
                img.star-right(src="assets/icons/png/star.png", alt="star")

footer.footer
    .wrapper
        .footer-inner
            .footer-title АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ ОРГАНИЗАЦИЯ ЦЕНТР РАЗВИТИЯ ЛИЧНЫХ И ПРОФЕССИОНАЛЬНЫХ КОМПЕТЕНЦИЙ "НАСТАВНИКИ"
            .footer-links.line__up
                .rights © Финсграм 2022-2023. Все права защищены.
                a.page__link.footer-link(href="#") Общие положения
                a.page__link.footer-link(href="#") Регламент проведения чемпионата
                a.page__link.footer-link(href="#") Политика обработки персональных данных
    

   






            

