//-banner
 

section.banner
    .wrapper
        .banner-inner
            .banner__text
                .banner__text-desctiption
                    h1.page-title.page-title-h1 Introducing Monte GT
               
                .banner__actions
            .banner__img